In [1]:
import pandas as pd

url = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
pd.read_csv(url)

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [2]:
dados = pd.read_csv(url)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [3]:
mapa = { 
    "home" : "Principal",
    "how_it_works" : "Como_funciona",
    "contact" : "Contato",
    "bought" : "Comprou"
}
dados.rename(columns = mapa)

    Principal  Como_funciona  Contato  Comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [4]:
mapa = { 
    "home" : "Principal",
    "how_it_works" : "Como_funciona",
    "contact" : "Contato",
    "bought" : "Comprou"
}
dados = dados.rename(columns = mapa)

In [5]:
x= dados[["Principal","Como_funciona","Contato"]]
y= dados[["Comprou"]]

x.head()

   Principal  Como_funciona  Contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [6]:
dados.shape

(99, 4)

In [7]:
train_x = x[:75]
train_x.shape

(75, 3)

In [8]:
train_x = x[:75]
train_y = y[:75]
test_x = x[75:]
test_y = y[75:]
test_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [9]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(train_x, train_y)

c:\Users\scyc9\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LinearSVC()

In [10]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

c:\Users\scyc9\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

## Usando a biblioteca para separar treino e teste

In [11]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 42, test_size =0.25, stratify = y)

# random_state = Fixar a randomização
# stratify = Manter proporção dos dados

print(train_x.shape)
print(test_x.shape)

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(train_x), len(test_x)))

(74, 3)
(25, 3)
Treinaremos com 74 elementos e testaremos com 25 elementos

In [12]:
modelo = LinearSVC()
modelo.fit(train_x, train_y)
previsoes = modelo.predict(test_x)

acuracia = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 96.00%

c:\Users\scyc9\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [13]:
train_y.value_counts()

Comprou
0          49
1          25
dtype: int64

In [14]:
test_y.value_counts()

Comprou
0          17
1           8
dtype: int64

## Neste codigo aprendemos a:

 - Abrir arquivo CSV;
 - Imprimir as primeiras linhas com a função head;
 - Renomear as colunas;
 - Utilizar a função shape para ver a quantidade de elementos;
 - Separar dados para treino e teste;
 - Definir a ordem para os números aleatórios;
 - Utilizar a função value_counts.